body, html{
  margin: 0;
  padding: 0;
  overflow: none;
  font-family: sans-serif;
  overflow-x: hidden;
}
#canvas, #text {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
  width: 100%;
}
.header{
  height: 100vh;
  background-color: rgb(25, 25, 27);
  z-index: -1;
}
.mask{
  position: absolute;
  top: 0;
  content: '';
  height: 100%;
  width: 130px;
  background-color: white;
  mix-blend-mode: difference;
}
.text-wrapper{
  cursor: none;
}
.top{
  height: 100vh;
  color: rgb(244, 244, 244);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.list ul{
  display: flex;
  list-style: none;
  justify-content: center;
}
.list ul a{
  margin: 0 20px 0 20px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px rgb(54, 80, 78);
}
.top h1{
  font-size: 7em;
  text-shadow: 4px 4px rgb(54, 80, 78);
}
.list{
  width: 100vw;
  opacity: 1;
  z-index: 1;
}
.hi{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}
.top p{
  margin-top: 0;
  font-size: 3em;
  line-height: 1em;
  position: relative;
  text-shadow: 2px 2px rgb(54, 80, 78);
}
.top p::after{
  content: '';
  height: 4px;
  background-color: rgb(255, 255, 255);
  width: 2em;
  position: absolute;
  top: 0.5em;
  left: 2em;
}
.top p::before {
  content: '';
  height: 4px;
  background-color: rgb(255, 255, 255);
  width: 2em;
  position: absolute;
  top: 0.5em;
  right: 2em;
}
.ml6 {
  margin: 0;
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}
.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
.hi-icon {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  margin: 30px 30px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  text-align: center;
  position: relative;
  transform: rotate(-90deg);
}
.icon-img {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 15px;
  right: 0;
  text-align: center;
  height: 100%;
  color: transparent;
  background: url(https://codyhouse.co/demo/animated-svg-image-slider/img/cd-icon-arrows.svg) no-repeat 0 0;
  -webkit-transition: -webkit-transform 0.1s;
  -moz-transition: -moz-transform 0.1s;
  transition: transform 0.1s;
  background-position: -48px 0;
}
.hi-icon-archive:before {
  content: "\e00f";
}
.hi-icon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hi-icon-active {
  background: rgba(255, 255, 255, 0.05);

  color: #fff;
}

.hi-icon-active:after {
  animation: sonarEffect 1s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 10px 10px rgb(218, 218, 218), 0 0 0 10px rgb(117, 117, 117);
  }
  100% {
    box-shadow: 0 0 0 2px rgb(224, 224, 221), 0 0 10px 10px rgb(129, 129, 129), 0 0 0 10px rgb(73, 73, 73);
    -webkit-transform: scale(1.5);
    opacity: 0;
  }
}
.aboutme{
  height: auto;
}
.obom{
  padding:  80px;
  text-align: center;
  font-size: 5em;
  margin: 0;
  font-family: 'Amatic SC', cursive;
  opacity: 0;
  transition: 1s;
  transform: translateY(50px);
}
.story{
  display: flex;
  font-family: 'Oswald', sans-serif;
  justify-content: space-around;
  padding-bottom: 200px;
}
.storyp{
  font-size: 1.6em;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateX(100px);
  transition: 1s;
}
.story img{
  height: 400px;
  width: 300px;
  margin-left: 200px;
  transform: translateX(-100px);
  opacity:0;
  transition: 1s;
}
.slide{
  height: 200px;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
.html{
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.html img{
  height: 300px;
}

.sp{
  transform: translateX(100px);
  opacity: 0;
  transition: 1s;
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
}
.js{
  display: flex;
  justify-content: space-around;
  margin: 100px 0 100px 0;
}
.js img{
  opacity: 0;
  transform: translateX(100px);
  transition: 1s;
  height: 400px;
}
.sj{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-100px);
  opacity: 0;
  transition: 1s;
  font-size: 1.6em;
  font-family: 'Oswald', sans-serif;
  width: 50%;
}
.html img{
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s;
}
.galerei{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-right:  0;
  padding: 0;

}
.box-content{
  width: 25%;
}
.box-content img{
  width: 300px;
}
.box2{
  display: none;
}
.container {
  max-width: 1125px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  width: 330px;
  height: 265px;
  margin: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.gallery-item img {
  position: absolute;
  width: 330px;
}

.text-wrapper2 {
  position: relative;
  width: 330px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: 0.8s;
}

.text-wrapper2:hover {
  transition: all 0.8s ease;
  background: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.name {
  font-size: 1.5em;
}


/* Because there is no hover on a touch devide, we need to move the text to the bottom of the image and display it by default */

@media only screen and (max-width: 1024px) {
  .text-wrapper2 {
    opacity: 1;
    justify-content: flex-end;
    text-shadow: 1px 1px 1px #000;
  }
  .title {
    margin-bottom: 1em;
  }
  .container{
    align-items: center;
 }
}
















.list.fade{
  transition: 0.4s;
  opacity: 0;
}
.list.fade-on{
  transition: 1s;
  opacity: 1;
  background-color: rgb(29, 31, 30);
}

.obom.fade-in{
  transition: 1s;
  transform: translateY(0px);
  opacity: 1;
}
.story img.fade-ava{
  transition: 1s;
  opacity: 1;
  transform: translateX(0px)
}
.storyp.fade-st{
  transition: 1s;
  opacity: 1;
  transform: translateX(0px)
}
.obom.fade-skil{
  transform: translateY(0px);
  opacity: 1;
  transition: 1s;
}
.sp.fade-html{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
.sj.fade-sj{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
.html img.fade-imghtml{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
.js img.fade-imgjs{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
#imgreact.fade-imgreact{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
#react.fade-react{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
#imgresp.fade-imgresp{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
#responsiv.fade-responsiv{
  opacity: 1;
  transition: 1s;
  transform: translateX(0px);
}
#portfolio.fade-portfolio{
  opacity: 1;
  transition: 1s;
  transform: translateY(0px);
}

































@media (max-width: 1100px){
  .story {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .storyp{
width: 70%;
}
.story img{
  margin: 0;
}
